
body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("nat.jpg");
    /* Control the height of the image */
   
    height: 150%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
   position: absolute; 
    
    margin: 50px 100px 20px ;
    max-width: 500px;
    padding: 20px 40px 40px 40px;
    background-color: white;
  }


  .login-text{
    font-size: 50px; 
    margin-top: 10px; 
    margin-bottom: 70px; 
    padding-bottom: 40px; 
    font-weight: 700 ; 
    border-bottom: 10px dotted;
  }
  /* Full-width input fields */
    input[type=text], input[type=password], input[type=date] {
    font-size: 20px;
    width: 100%;
    padding: 25px;
    max-height: 15px;
    margin: 5px 0 50px 0;/* top right bottom left */
    border: none;
    background: #f1f1f1;
  }
  input[type=date]{
    color: gray;
    text-transform: uppercase;
    
  }
  input[type=text]:focus, input[type=text]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: 1px solid #04AA6D;
    outline-offset: 2px;
  }
  
  .fname-text, .sname-text, .dob-text, .payment-text{
    font-size: 28px; 
    font-weight: 300; 
    font-family: Roboto;
  }

 
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 20px;
    transition: opacity 0.15s;
  }
  
  .btn:hover {
    opacity: 1;
  }

  .btn:active{
    opacity: 0.6;
  }